@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg-color: #111427;
  --secondary-bg-color: #151d34;

  --primary-font-color: #ffffffde;
  --contrast-font-color: #ffffffde;
  --dimmed-font-color: #5d6177;
}

[data-theme="light"] {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0f4f9;

  --primary-font-color: #000000de;
  --contrast-font-color: #000000de;
  --dimmed-font-color: #9fa5c8;
}

.dark-theme-button {
  background: "";
}

.light-theme-button {
  background: "linear-gradient(121deg, rgba(17,20,39,1) 50%, rgba(21,29,52,1) 50%);";
}

.system-theme-button {
  background: "linear-gradient(121deg, rgba(17,20,39,1) 50%, rgba(21,29,52,1) 50%);";
}
